.animatedBelt {
    width: 125vw;
    height: 30px;
    white-space: nowrap;
}

.imageBang {
    height: 50px;
    width: 350px;
    animation: belt 30s infinite linear alternate;
}

@keyframes belt {
   0% {
    transform: translateX(-60vw);
   } 
   100% {
    transform: translateX(-10vw);
   }
}