.animatedBelt {
    width: 1920px;
    height: 30px;
    white-space: nowrap;
}

.imageBelt {
    height: 50px;
    width: 350px;
    animation: belt 30s infinite linear alternate;
}

@keyframes belt {
   0% {
    transform: translateX(-1150px);
   } 
   100% {
    transform: translateX(-200px);
   }
}