.faqPageContainer {
    height: 900px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media only screen and (max-width: 768px) {

    .faqPageContainer {
        height: 50vh;
        width: 100vw;
    }

}