* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1D1D1D;
}

@font-face {
    font-family: fredoka-one;
    src: url( "/FredokaOne-Regular.ttf" );
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo_desktop {
    width: 150px;
    cursor: pointer;
}

.logo_mobile {
    display: none;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: red;
}

.navbar button, li, a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    color: #fff434;
}

.navbar button:hover{
    color: red;
}

.navbar button {
    cursor: pointer;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: 0.5em;
    padding: 0.25em 0.25em;
}

.page_content {
    text-align: center;
    font-family: sans-serif;
    text-align: center;
    color: #fff434;
    padding: 10px 0 0 0 ;

}

@media only screen and (max-width: 768px) {

    .navbar {
        justify-content: center;
        padding: 5px 2px;
    }

    .logo_desktop {
        display: none;
    }

    .logo_mobile {
        display: flex;
        width: 150px;
        padding: 5px;
    }

    .logo_mobile_container {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .navbar button, li, a {
        font-size: 12px;
    }

    .home_content {
        padding: 20px 0; ;
    }

}