@font-face {
    font-family: happyLucky;
    src: url(../public/happyLuckyFree.ttf);
}

@font-face {
    font-family: georgeCafe;
    src: url(../public/georgeCafe.ttf);
}

@font-face {
    font-family: applicationFont;
    src: url(../public/application_font.ttf);
}

@font-face {
    font-family: DAYSANS;
    src: url(../public/DAYSANS.ttf);
}

@font-face {
    font-family: Small_Print;
    src: url(../public/Small_Print.ttf);
}

.homePageContainer {
    overflow-x: hidden;
}

.sectionOne {
    background-color: #ffebe2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1920px;
}

.sectionOneImage {
    height: 400px;
    width: 700px;
    margin-right: 50px;
    border: 2px dashed black;
}

.sectionOneTextAndButtonContainer {
    height: 400px;
    width: 710px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sectionOneTitleAndSub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sectionOneTitle {
    color: #1e191a;
    width: 600px;
    font-size: 90px;
    font-family: Small_Print;
}

.sectionOneSubTitle {
    color: #1e191a;
    width: 700px;
    font-size: 25px;
    font-family: georgeCafe;
    font-weight: bold;
}

.sectionOneButton {
    background: none;
    border: 0;
    border-radius: 10px;
    padding: 0.3em .05em;
    font-family: Small_Print;
    font-size: 35px;
    background-color: #ffb8d9;
    transition: 0.25s;
}

.sectionOneButtonLink {
    text-decoration: none;
    color: white;
    background: none;
    border: 0;
    border-radius: 10px;
    padding: 0.3em .5em;
}

.sectionOneButton:hover {
    background-color: #f688bb;
}

.sectionOneButton:active {
    background-color: #f8348f;
}

.sectionOneButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sectionTwo {
    background-color: #caf3ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 600px;
    width: 1920px;
}

.sectionTwoTextContainer {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sectionTwoTitle {
    color: #1e191a;
    width: 600px;
    font-size: 70px;
    font-family: happyLucky;
    text-align: center;
}

.sectionTwoSubTitle {
    color: #1e191a;
    width: 500px;
    font-size: 25px;
    font-family: georgeCafe;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.sectionTwoImage {
    padding-left: 100px;
}

.sectionThree {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1920px;
}

.sectionThreeTitleSubAndImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sectionThreeTitleAndSub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sectionThreeTitle {
    color: #1e191a;
    width: 600px;
    font-size: 70px;
    font-family: happyLucky;
    text-align: center;
}

.sectionThreeSubTitle {
    color: #1e191a;
    width: 800px;
    font-size: 25px;
    font-family: georgeCafe;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.sectionThreeImage {
    height: 400px;
}

.sectionFour {
    overflow: hidden;
    height: 300px;
    width: 1920px;
}

.sectionFourImage {
    width: 1920px;
}

@media only screen and (min-width: 769px) {
    .sectionOneBackgroundImage {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .sectionOne {
        display: none;
    }

    .sectionTwo {
        display: none;
    }

    .sectionThree {
        display: none;
    }

    .sectionFour {
        display: none;
    }

    .homePageBelt {
        display: none;
    }

    .homePageContainer {
        height: 70vh;
        width: 100vw;
    }

    .sectionOneBackgroundImage {
        height: 69vh;
        width: 100vw;
        object-fit: fill;
    }

}

/*
@media only screen and (min-width: 2550px) {
    
    .homePageContainer{
        zoom: 133.5%;
    }

}

@media only screen and (min-width: 3800px) {
    
    .homePageContainer{
        zoom: 200.5%;
    }

}
*/