@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

.homeContent {
    overflow: hidden;
}

.titleContainer {
    background-image: url(../public/images/section_background_image.png);
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homePageTitle {
    color: green;
    width: 600px;
    font-size: 80px;
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
}

.homePageImage {
    height: 400px;
    margin-left: 100px;
}

.titleContainer2 {
    background-image: url(../public/images/section_background_image.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.titleContainer3 {
    background-image: url(../public/images/container3_background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container3_title {
    width: 600px;
    font-size: 80px;
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;

}

.subTitle32 {
    color: green;
    width: 800px;
    font-size: 25px;
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 130px;
}

.roadmap_imagery {
    height: 400px;
}

.titleContainer4 {
    background-image: url(../public/images/container4_background.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 550px;
}