@font-face {
    font-family: happyLucky;
    src: url(../public/happyLuckyFree.ttf);
}

@font-face {
    font-family: georgeCafe;
    src: url(../public/georgeCafe.ttf);
}

@font-face {
    font-family: Small_Print;
    src: url(../public/Small_Print.ttf);
}

.sectionOne, .sectionTwo, .sectionThree, .sectionFour {
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionOne {
    height: 500px;
    background-color: #ffebe2;
    flex-direction: row;
}

.sectionOne div:nth-child(1), .sectionOne div:nth-child(2) {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px 30px;
}

.sectionOne div:nth-child(1) h1 {
    font-family: Small_Print;
    font-size: 90px;
    text-align: center;
    color: #1e191a;
}

.sectionOne div:nth-child(1) p1 {
    font-family: georgeCafe;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.sectionOne div:nth-child(1) nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.sectionOne div:nth-child(1) nav a {
    text-decoration: none;
    font-family: Small_Print;
    font-size: 35px;
    color: white;
    background-color: #ffb8d9;
    border-radius: 10px;
    padding: 0.3em 0.5em;
    transition: 0.25s;
    margin: 0px 30px;
}

.sectionOne div:nth-child(1) nav a:hover {
    background-color: #f688bb;
}

.sectionOne div:nth-child(1) nav a:active {
    background-color: #f8348f;
}

.sectionOne div:nth-child(2) img {
    width: 100%;
}

.sectionTwo {
    height: 500px;
    background-color: #bfbff9;
    flex-direction: row;
}

.sectionTwo div:nth-child(1), .sectionTwo div:nth-child(2) {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px 30px;
}

.sectionTwo div:nth-child(1) img {
    width: 100%;
}

.sectionTwo div:nth-child(2) h1 {
    font-family: happyLucky;
    font-size: 90px;
    text-align: center;
    color: #1e191a;
}

.sectionTwo div:nth-child(2) p1 {
    font-family: georgeCafe;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #1e191a;
    margin-top: 20px;
}

.sectionThree {
    height: 1000px;
    background-color: #f8bcbc;
    flex-direction: column;
}

.sectionThree div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionThree div:nth-child(1) h1 {
    font-family: happyLucky;
    font-size: 80px;
}

.sectionThree div:nth-child(1) p1 {
    font-family: georgeCafe;
    font-weight: bold;
    font-size: 30px;
    width: 800px;
    text-align: center;
    margin-top: 20px;
}

.sectionThree div:nth-child(2) {
    height: 630px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-top: 50px;
}

.sectionThree div:nth-child(2) img {
    width: 100%;
}

.sectionFour {
    height: 500px;
    background-color: white;
}

.sectionFive {
    height: 300px;
    width: 1920px;
    overflow: hidden;
}

.sectionFive div:nth-child(1) img {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .homePageContainer {
        zoom: 20%;
    }

}

/*
@media only screen and (min-width: 2550px) {
    
    .homePageContainer{
        zoom: 133.5%;
    }

}

@media only screen and (min-width: 3830px) {
    
    .homePageContainer{
        zoom: 200.5%;
    }

}
*/