@font-face {
    font-family: happyLucky;
    src: url(../public/happyLuckyFree.ttf);
}

.desktopLogo {
    color: black;
    width: 500px;
    font-size: 50px;
    font-family: happyLucky;
    text-decoration: none;
    background: none;
    border: 0px;
    cursor: pointer;
    color: #d8f4fe;
}

.mobileLogo {
    display: none;
}

.navbar {
    background-color: #52b6ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px 100px;
    margin-bottom: 0;
    top: 0;
    left: 0;
    width: 1920px;
    height: 70px;
    transition: 0.3s ease-in-out;
    z-index: 10;
}

.navbar.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbarA, .navbarLink {
    cursor: pointer;
    transition: 0.25s;
    background: none;
    line-height: 1;
    text-decoration: none;
    font-family: happyLucky;
    font-weight: lighter;
    font-size: 25px;
    color: white;
    padding: 0em .1em;
}

.navbarButton {
    cursor: pointer;
    transition: 0.25s;
    background: #52b6ff;
    line-height: 1;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: black;
    border: 0px;
    border-radius: 4px;
    margin: 0.7em;
}

.navbarButton:hover{
    background: #52b6ff;
}

.navbarA:hover, .navbarLink:hover {
    color: #d8f4fe;
}

@media only screen and (max-width: 880px) {

    .navbar {
        padding: 0 0;
        justify-content: center;
    }

    .desktopLogo {
        display: none;
    }

    .mobileLogo {
        display: flex;
        width: 120px;
        margin-right: 20px;
    }

    .navbarA, .navbarLink, .navbarButton {
        font-size: 14px;
    }

}


/*
@media only screen and (min-width: 2550px) {
    
    .navbar{
        zoom: 133.5%;
    }

}

@media only screen and (min-width: 3800px) {
    
    .navbar{
        zoom: 200.5%;
    }

}
*/