@font-face {
    font-family: happyLucky;
    src: url(../public/happyLuckyFree.ttf);
}

@font-face {
    font-family: Small_Print;
    src: url(../public/Small_Print.ttf);
}

.navbar {
    background-color: #52b6ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 200px;
    width: 1920px;
    height: 70px;
    transition: 0.3s ease-in-out;
}

.logo {
    font-size: 50px;
    font-family: happyLucky;
    background: none;
    border: 0px;
    cursor: pointer;
    color: #d8f4fe;
}

.navbar button {
    cursor: pointer;
    background: none;
    border: 0px;
    margin: 0em 1em;
}

.navbar a, .navbar link {
    cursor: pointer;
    transition: 0.25s;
    text-decoration: none;
    font-family: Small_Print;
    font-weight: lighter;
    font-size: 25px;
    color: white;
}

.navbar a:hover, .navbar link:hover {
    color: #d8f4fe;
}

@media only screen and (min-width: 769px) {
    .navbarMobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .navbarDesktop {
        display: none;
    }

    .navbar {
        padding: 1vh 5vw 1vh 5vw;
        width: 100vw;
        height: 7vh;
    }

    .logo {
        padding-top: 1vh;
        font-size: 40px;
        color: white;
    }

    .navbar button {
        margin: 0.5em 0.5em;
    }

    .dropDownContent {
        position: absolute;
        top: 7vh;
        right: 0vw;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
    }

    .dropDownSocials {
        display: flex;
        flex-direction: row;
    }

    .navbarMobile:hover .dropDownContent {
        display: flex;
    }

}

/*USE USESTATE FOR CLICKABILITY */