.RMPageTitle {
    width: 500px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}

.RMSVGContainer {
    border: solid yellow 5px;
    width: 1400px;
    height: 600px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RMIMGContainer {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RMImageSVG {
    width: 600px;
    height: 600px;
}

.Phase1IMG:hover {
    width: 325px;
    height: 325px;
}

.Phase1IMG {
    width: 305px;
    height: 306px;
    clip-path: url(#RMSVGImageClip);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.RMDescriptionContainer {
    width: 30%;
    height: 90%;
}

.RMButtonContainer {
    width: 30%;
    height: 90%;
    margin-right: 2.5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RMButton1:hover{
    transform: scale(1.1);
}

.RMButton1 {
    width: 325px;
    margin-top: 30px;
}

.RMButton2 {
    width: 325px;
}

.RMButton3 {
    width: 325px;
}

.RMButton4 {
    width: 325px;
}

.RMPhaseContainer {
    width: 410px;
}

.RMLineContainer1 {
    position: absolute;
    width: 300px;
    height: 500px;
    left: 400px;
}

.RMLineContainer2 {
    position: absolute;
    width: 300px;
    height: 500px;
    left: 850px;
}
